

#home {
	height: 100vh;
}

.home-bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 1;
	background-repeat: no-repeat;
}

.home-text {
	position: absolute;
    color: #fff !important;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	z-index: 100;
}



.login-box{
    position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	z-index: 100;
    
}
.btn {
	padding: 8px 25px;
	text-transform: capitalize;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	margin-right: 4px;
	margin-bottom: 4px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	font-size: 14px;
}

.btn:hover,
.btn:active,
.btn:focus {
	box-shadow: none !important;
	outline: none !important;
}

.btn-dark {
	background: #131313;
	color: #fff;
	border: none;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
	background: white !important;
	visibility: visible;
	color: #000;
    border: 1px solid #000;
}

